<!--
<copyright company="nhantinsoft.vn">
Author: Vũ Văn Văn
Created Date: 30/09/2017 13:08
</copyright>
-->
<style type="text/css">
    .func {
        color: royalblue;
        background-color: antiquewhite;
        font-weight: bold;
    }
</style>
<div class='content-wrapper padding-top-0' ng-init="app.settings.pagetitle = 'Thêm mới nhóm quyền';permisstion='SY0001'">
    <form name="createForm">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Thông tin thêm mới</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="form-label">Tên nhóm<span class='text-danger text-strong'>&nbsp;*</span></label>
                            <div class="controls">
                                <input type="text" class="form-control" data-ng-model="vm.Model.Name" required maxlength="500">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="form-label">Trang chủ<span class='text-danger text-strong'>&nbsp;*</span></label>
                            <div class="controls">
                                <input type="text" class="form-control" data-ng-model="vm.Model.HomePage" required maxlength="500">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label class="form-label">Mô tả</label>
                            <div class="controls">
                                <textarea style="margin: 0px; width: 100%; height: 60px;" data-ng-model="vm.Model.Description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="box">
            <header class="panel_header">
                <h2 class="title pull-left">Phân quyền cho nhóm quyền</h2>
                <div class="actions panel_actions pull-right">
                    <i class="box_toggle material-icons">expand_more</i>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-xs-7 col-sm-6 col-md-6 col-lg-6 text-left">
                        <div class="form-group">
                            <label class="form-label" style="line-height:35px;">Tổng số <span class="bold text-danger">{{vm.TotalGroup}}</span> nhóm quyền / Tổng số <span class="bold text-danger">{{vm.TotalFunc}}</span> quyền</label>
                        </div>
                    </div>
                    <div class="col-xs-5 col-sm-6 col-md-6 col-lg-6 text-right">
                        <div class="form-group">
                            <label class="form-label" style="line-height:35px;">Đã chọn <span class="bold text-danger">{{vm.TotalChoose}}</span> quyền</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="overflow: auto;max-height:300px;">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="80px" style="text-align:center">
                                        <label class="icheck form-label ">
                                            <input type="checkbox" ng-click="vm.FnSelectAll()" ng-model="vm.SelectAll">
                                            <i></i>
                                        </label>
                                    </th>
                                    <th width="50px" style="text-align:center">STT</th>
                                    <th>Mã chức năng</th>
                                    <th>Tên chức năng</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in vm.ListFunction" ng-class="{func:row.GroupFunctionId==''}">
                                    <td style="text-align:center">
                                        <label class="icheck form-label ">
                                            <input type="checkbox" ng-click="vm.FnSelect(row)" ng-model="row.Select">
                                            <i></i>
                                        </label>
                                    </td>
                                    <td style="text-align:center">{{row.Index}}</td>
                                    <td>{{row.Code}}</td>
                                    <td>{{row.Name}}</td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </form>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-bottom-30">
            <div class="text-left pull-right">
                <button type="button" ng-disabled="createForm.$invalid" class="btn btn-success" data-ng-click="vm.FnContinue()">
                    <i class="fa fa-clipboard"></i> &nbsp;<span>Lưu và tiếp tục</span>
                </button>
                <button type="button" ng-disabled="createForm.$invalid" class="btn btn-success" data-ng-click="vm.FnAdd()">
                    <i class="fa fa fa-floppy-o"></i> &nbsp;<span>Lưu</span>
                </button>
                <button type="button" class="btn btn-default" data-ng-click="vm.FnClear()">
                    <i class="fa fa-refresh"></i> &nbsp;<span>Làm mới</span>
                </button>
            </div>
        </div>
    </div>
</div>